<html>
    <head>
      {% if title %}
      <title>{{ title }} - AudioNet</title>
      {% else %}
      <title>Welcome to AudioNet</title>
      {% endif %}
    </head>
    <body>
        <div>AudioNet: 
        <a href="{{ url_for('index') }}">Instructions</a>
        <a href="{{ url_for('predictAction') }}">Prediction</a>
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>
