{% extends "base.html" %}

{% block content %}
    <h1>AudioNet:Audio recognition with a deep neural network</h1>
    <h3>1.Basic instructions</h3>
    <div><p>The AudioNet experiment contains three major steps </p></div>
    <div><p><b>Step1:</b>prepare your data (refer to <b>convert_file.py</b>) </p></div>
    <div><p><b>Step2:</b>Model training (refer to <b>train.py</b>) </p></div>
    <div><p><b>Step3:</b>Make a prediction (click <b>Prediction</b> button on the top) </p></div>
    <h3>2.Useful links</h3>
    <div><p>Github repository
        <a href="https://github.com/kimmo1019/audioNet">Github</a>
        </p></div>
{% endblock %}
