{% extends "base.html" %}

{% block content %}
    <h1>AudioNet:Audio recognition with a deep neural network</h1>
    <h3>1.Basic instructions</h3>
    <div><p>The AudioNet experiment contains three major steps </p></div>
    <div><p><b>Step1:</b>prepare your data (refer to <b>convert_file.py</b>) </p></div>
    <div><p><b>Step2:</b>Model training (refer to <b>train.py</b>) </p></div>
    <div><p><b>Step3:</b>Make a prediction (click <b>Prediction</b> button on the top) </p></div>
    <h3>2.Useful links</h3>
    <div><p>GitLab repository 
        <a href="http://gitlab.icenter.tsinghua.edu.cn/kimmo123/audioNet">GitLab</a>
        and Tsinghua iCenter Wiki
        <a href="http://wiki.icenter.tsinghua.edu.cn/icenterwiki/index.php/2019%E6%98%A5-%E6%99%BA%E8%83%BD%E7%A1%AC%E4%BB%B6-%E7%AC%AC%E4%B8%83%E6%AC%A1%E8%AF%BE-%E6%95%99%E5%AD%A6%E8%AE%A1%E5%88%92#4">Wiki</a>
        </p></div>
{% endblock %}
